# Ignore vagrant state information
.vagrant/

# Ignore external recipes until the dependencies are managed in a tidier way
cookbooks/apt/
cookbooks/mysql/
cookbooks/ruby_build/
cookbooks/yum-mysql-community/
cookbooks/yum/
