<!DOCTYPE html>
<html>
  <head>
    <title>Posty</title>
    <style type="text/css">
      a:link { text-decoration:none; }
      a:visited { text-decoration: none; }
      a:hover { text-decoration: underline; }
      a:active { text-decoration: underline; }
      div { margin: 25px auto 50px auto; absolute; width:450px; }
    </style>
  </head>
  <body>
    <div>
      <a href="<%= node['posty']['roundcube']['name'] %>/"><img src="img/roundcube.png"></a>
    </div>
    <div>
      <a href="automx/"><img src="img/automx.png"></a>
    </div>
  </body>
</html>
